{% extends "web/html/base.html" %}

{% block body %}

<div class="container-fluid" style = "border-top: 5px solid #DDD;">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
        <h2>Courses</h2>
        <div id="courses">
        {% if courses and course_items %}
          {% for course in courses %}
            <p class="courses" id="{{course.courseID}}" onclick="openCourseItems({{course.courseID}},{{course_items}})">{{course.name}}</p>
          {% endfor %}
        {% endif %}
        </div>
      </nav>
    </div>
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
        <h2>Course Items</h2>
        <div>
          <form action="/add_assignment" onsubmit="return validateForm()" method="POST">
            <span class="assignment_block_title"> Assignment Name: </span>
            <br>
            <input id="assignmentName" class="assignment_block" type="text" name="assignmentname">
            <br>
            <span class="assignment_block_title"> Description: </span>
            <br>
            <input id="assignmentDescription" class="assignment_block" type="text" name="description" >
            <br>
            <span class="assignment_block_title"> Assigned Date: </span>
            <br>
            <input id="assignDate" type="date" class="assignment_block" type="text" name="assigneddate" >
            <br>
            <span class="assignment_block_title"> Due Date: </span>
            <br>
            <input id="dueDate" type="date" class="assignment_block_last" type="text" name="duedate" >
            <br>
            <br>
            <input type="hidden" name="courseid" id="courseid" />
            <input class="assignment_block" type="submit" value="Submit">
          </form> 
        </div>
        <div id="courseItems">
        </div>
      </nav>
    </div>
    <div class="col-sm-3 col-lg-3">
      <nav class="navbar navbar-default navbar-fixed-side">
        <h2>Documents</h2>
        <div id="courseItemDescriptions">
        </div>
        <div>
          <form class="assignment_block_title" action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
            Upload File: 
            <div class="upload_input_container">
              <input class ="assignment_block" type="file" name="file">
              <!-- <br> -->
              <input  type="hidden" name="courseitemid" id="courseitemid" />
              <input class="assignment_block_last" type="submit" name="submit" value="Submit">
            </div>
          </form>
        </div>
        <div id="documents"></div>
      </nav>
    </div>
    <div class="col-sm-3 col-lg-5 chat">
      <nav class="navbar navbar-default navbar-fixed-side">
        <h2>Chat</h2>
        <!-- Messages container -->
        <div id="messages-container">
          <div id="messages-container-helper">
          <div id="messages">
              <span id="chatresults"></span>
          </div>
          <div id="message-form">
            <input id="chattext" type="text" placeholder="Message"><br/>
            <button id="chatpost">Send</button><br/>
          </div>
      </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}