#messages-container {
  height: 77%;
  padding-bottom: 0;
  margin-top: 15px;
  min-height: 0;
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}

#messages-container-helper {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f8f8f8;
}

#messages {
  overflow-y: auto;
  margin-bottom: 10px;
  height: calc(100% - 80px);
}

#chatresults {
  flex-grow: 1;
}

.message-container:first-of-type {
  border-top-width: 0;
}

.message-container {
  display: block;
  margin-top: 10px;
  border-top: 2px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message-container.visible {
  opacity: 1;
}

#message-form {
  display: flex;
  flex-direction: row;
  float: left;
  margin-left: 20px;
}

#chattext {
  width: 300px;
}

#chatpost {
  width: 100px;
  margin-left: 20px;
}

.highlight2 {
  background-color: grey;
  background-color: #A9A9A9;
    font-weight: 900;
    -webkit-text-fill-color: white;
}

@media (max-width: 992px) {
  .row1 {
    display: flow-root;
    position: relative;
    right: 0%;

  }

  .row2 {
    display: flow-root;
    right: 0%;
  }

}

p.chat_text {
  cursor: auto;
  padding: 0px 0px 0px 0px ;
  font-family: "Times New Roman", Times, serif;
  
}

p.chat_username {
  color: rgba(24, 113, 168, 0.87);
  font-weight: 700;
}