p{
	padding: 5px 3px 5px 8px;
	font-family: 'Inconsolata', monospace;
	cursor: pointer;
}
h2{
	font-family: 'Antic Slab', serif;
	font-size:250%;
}

.highlight {
	background-color: grey;
	background-color: #A9A9A9;
    font-weight: 900;
    -webkit-text-fill-color: white;
}


.upload_input_container {
	display: inline-flex;
	margin-bottom: 20px;
}

#documents {
	position: absolute;
	left: 10px;
}

.col-md-4 {
	height:100vh;
}

.panes {

	overflow-y: auto;
	 height:75%;
}


@media (max-width: 992px) {
    .col-md-4 {
        height:initial;
       }
   }
