p{
	padding: 5px 3px 5px 8px;
	font-family: 'Inconsolata', monospace;
	cursor: pointer;
}
h2{
	font-family: 'Antic Slab', serif;
	font-size:250%;
}

.highlight {
	background-color: yellow;
}

.assignment_block {
	position: relative;
	left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.assignment_block_last {
	position: relative;
	margin-top: 5px;
	left: 15px;
}

.assignment_block_title {
	position: relative;
	left: 5px;
}

.upload_input_container {
	display: inline-flex;
	margin-bottom: 20px;
}

#documents {
	position: relative;
	left: 10px;
}

.ribbon {
   position: relative;
   top: -16px;
   right: -706px;
}

