main, #messages-card {
  height: 80%;
  padding-bottom: 0;
}
#messages-card-container {
  height: calc(100% - 150px);
  padding-bottom: 0;
}
#messages-card {
  margin-top: 15px;
}

#messages {
  overflow-y: auto;
  margin-bottom: 10px;
  height: calc(100% - 80px);
}

#message-filler {
  flex-grow: 1;
}

.message-container:first-of-type {
  border-top-width: 0;
}

.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message-container.visible {
  opacity: 1;
}

.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}

.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}

.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}

.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}
.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.mdl-card {
  min-height: 0;
}
.mdl-card {
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}